#game-title {
    margin-top: 15vh;
    h1 {
        position: relative;
        font-family: 'Rajdhani', sans-serif;
        font-size: 3rem;
        letter-spacing: 2px;
        line-height: 1;
        background-color: #f9d3bc;
        z-index: 1;
    };
    .material-symbols-outlined {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8rem;
        z-index: -1;
        &.light {
            font-variation-settings: 'wght' 300;
        }
    };
}  

#game-title.slide-up {
    margin-top: 7vh;
    transition: margin-top 0.5s;
}

#game-title.slide-down {
    margin-top: 15vh;
    transition: margin-top 0.5s;
}  

#icons {
    position: absolute;
    top: 4.65em;
    right: 3em;
    z-index: 2;
}

#history-icon,
#back-icon {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    .material-symbols-outlined {
        font-size: 1.75rem;
    }
}

.screen {
    width: calc(29vw + 3rem);
    text-align: center;
    background: rgba(248,226,213,0.65);
    border-radius: 10px;
    button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &.small {
      width: calc((29vw + 3rem) / 3 * 2);
    }
}
  
.screen-header {
    background: #31102f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem 1.5rem;
    color: #fb5231;
    text-align: left;
}  

#screen-welcome {
    position: fixed;
    width: 40%;
    bottom: 10vh;
    text-align: center;
}

#screen-history {
    width: 90%;
    font-size: 0.9rem;
    line-height: 1.75;
    letter-spacing: 2px;
    text-align: justify;
    h1 {
        font-size: 3em;
        line-height: 1;
    }
    h4 {
        font-size: 1.2em;
    }
}

#screen-game {
    margin-top: 6rem;
}

#player1-info,
#player2-info {
    background-color: rgba(248,226,213,0.65);
    border-radius: 10px;
    overflow: hidden;
}

.controls {
    position: fixed;
    bottom: 7vh;
    &.left {
        left: 7vh;
        text-align: left;
    };
    &.right {
        right: 7vh;
        text-align: right;
    };
}

.control-grid {
    display: grid;
    grid-template-columns: repeat(3, 3rem);
    grid-template-rows: repeat(3, 3rem);
    gap: 0.5rem;
  }
  
.control-cell {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: rgba(0,0,0,0.25);
    color: #f8e2d5;
    font-size: 1.5rem;
    font-weight: 600;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 9vw);
    grid-template-rows: repeat(3, 9vw);
    gap: 1vw;
}

.board-cell {
    width: 9vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Varela Round", sans-serif;
    font-size: 6em;
    cursor: pointer;
    background: rgba(248,226,213,0.65);
    border-radius: 10px;
    transition: opacity 0.5s, background-color 0.5s;
}

.board-cell-win {
    opacity: 1 !important;
}
  
#turn-indicator {
    background-color: rgba(248,226,213,0.65);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 2;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {

    #game-title {
        h1 {
            font-size: 2.5rem;
        };
        .material-symbols-outlined {
            font-size: 6rem;
        };
    }

    #icons {
        position: absolute;
        top: 1.25em;
        right: 0.75em;
        z-index: 2;
    }
        
    .screen,
    .screen.small,
    #screen-welcome {
        width: 85%;
    }

    #screen-history {
        max-height: 68vh;
        overflow: scroll;
        padding-top: 3vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    #screen-history::-webkit-scrollbar {
        display: none;
    }

    .screen.small {
        .mb-6 {
            margin-bottom: 1.5em !important;
        };
        .px-5 {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .screen-header {
        text-align: center;
    }

    #board {
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 25vw);
        gap: 1rem;
    }
    
    .board-cell {
        width: 25vw;
        height: 25vw;
        font-size: 5em;
    }
    
}
  
